body {
    
    padding:0;
    margin:0;
    background-color: black;
    color: white;
}


/*Global*/

.container{
    width:80%;

    margin:auto;
    overflow:hidden;
}
.highlight{
    color: silver;
}
input{
    width:100%;
    margin:5px;
    height: 50px;
}

textarea{
    width:100%;
}
#mybtn {
    background:black;
    color:hotpink;
    border:4px solid white;
    font-size: 20px;
}

ul{
    
    margin-bottom: 0;
    padding:0;
    list-style: none;
}
li{
    margin-bottom: 20px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


/*header*/
header{
    background:hotpink;
    color:black;
    padding-top:30px;
    min-height:70px;
    border-bottom: silver 4px solid;
}

header a{
    color:silver;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header a:hover{
    color: white;
    font-weight:bold;
}


header li{
   float:left;
   display:inline;
   padding:0 20px 0 20px
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}





footer a{
    color:silver;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

footer a:hover{
    color: white;
    font-weight:bold;
    
}

/* Showcase */
#showcase{
  background: url('../images/showcase.jpg');
  background-size:110% 100%;
  min-height: 400px;
  text-align:center;
  color:#ffffff;
}


/*boxes*/

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float:left;
    width: 48%;
    padding: 10px;
    text-align:center;
}

#boxes .box img{
    width:100%;
    
}

#boxes2{
    margin-top: 20px;
}

#boxes2 .box2{
    float:left;
    width: 48%;
    padding: 10px;
    text-align:center;
    font-size:24px;
}

/*events page*/

.container3 {
    background: white;
    border: 3px solid hotpink;
    text-align: center;
}


.prImage3 {
 
    width: 40%;
  
}

.prImage4 {
 
    width: 80%;
 
}

/*products*/

.container4 {
    background-image: url(http://media.virbcdn.com/cdn_images/resize_500x500/30/11801ce339525fc8-AllOverWords.jpg) no-repeat center top scroll; 
    background-size: 100% auto; padding-left: 50px; 
    padding-right: 50px;
    text-align:center;
}

#boxes4{
    margin-top: 20px;

    
}

#boxes4 .box4{
    float:left;
    width: 20%;
    
    padding: 10px;
    text-align:center;
    font-size:24px;
}

#boxes4 .box4 img{
    width:100%;
}

#container5 {
    background: hotpink;
    text-align:center;
    padding:20px;
    margin-left:20%;
    margin-right:20%;
    margin-top:50px;
    margin-bottom:50px;
}


#container6 {
    background: white;
    text-align:center;
    padding:0;
    margin:0;
}


#container6 img{
    width:50%;
}


/*showcase responsive image*/
.img-res{
    width:95%;
    margin-top:150px;
}

.partyFormImg {
    width:100%;
    
}

.circle{
    border:1px solid pink;
    border-radius: 50%;
}